body{
    font-family: tahoma;
    background-color: rgb(231, 184, 245);
   
}
#contenedor{
    width: 900px;
    height: auto;
    background-color: rgb(211, 122, 238);
    margin-left: 200px;
}
#mientrasLlega{
    font-family: tahoma;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
#texto{
    height: 90%;
    width: 90%;
    background-color: rgb(241, 215, 238);
    margin-left: 40px;
    font-family: tahoma;
}

#respuesta{
    font-family: tahoma;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
h1{
    font-family: tahoma;
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: tahoma;
    font-size: 30px;
    text-align: center;
}
.boton{
    background-color: #8038d3; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: tahoma;
    margin-left: 30px;
}
.boton2{
    background-color: #8038d3; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: tahoma;
    margin-left: 10px;
}